.App-header {
  background-color: #A9CEF4;
  font-size: calc(14px + 1vmin);
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFFFFF;
}

.App-body {
  background-color: #FFFFFF;
  font-size: calc(8px + 1vmin);
  color: #000000;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #A9CEF4;
  font-weight: 1000;
  font-size: calc(10px + 4vmin);
}

h1 {
    line-height: 250%;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}


h3 {
    line-height: 200%;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

.leaflet-container {
    background-color: #FFFFFF;
    height: 500px;
    width: 100%;
}


.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
